@model PaginatedList<SurfBoardManager.Models.BoardPost>

@{
    ViewData["Title"] = "Index";
}

@System.Globalization.CultureInfo.CurrentUICulture

<link rel="stylesheet" href="/css/BoardPosts.css" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="posts-outer-wrapper">
    @foreach (var item in Model)
    {
            <div class="wrapper">
                <div class="edit">
                    <a asp-action="Edit" asp-route-id="@item.Id"><img src="https://www.androidicons.com/assets/images/ai-mdpi-black/ic_action_edit.png"></a>
                </div>
                <a asp-action="Details" asp-route-id="@item.Id">
                <div>
                    <div class="grid-item">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div style="border-radius: 10px; padding: 10px; background-color: white; text-align: center;">
                        <img style="max-width: 15vw; max-height: 24vh;" src="@item.BoardImage">
                    </div>
                </div>
                </a>
            </div>
    }   
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
   Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
   Next
</a>
